* {
	margin: 0;
	padding: 0;
}

.content {
	text-align: center;
}
.todolist {
	display: flex;
}
.todolist li {
	list-style: none;
	width: 100px;
	padding: 10px;
	border: 2px solid gold;
	border-radius: 3px;
	margin-right: 5px;
}
